<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Eventos
    </ion-title>
  </ion-navbar>
</ion-header>
 
<ion-content>
  <ion-list>
      <ion-list-header>
          <h2><ion-icon name="calendar"></ion-icon> Dezembro</h2>
      </ion-list-header>
      <ion-item *ngFor="let cal of calendars" tappable>
        <ion-avatar item-start>
          <!--<h1><ion-icon name="calendar"></ion-icon> {{ data | date: 'dd/M/y' }}</h1>-->
           <h1>{{ data | date: 'dd/M' }}</h1>
           <p>{{ data | date: 'EEEE' }}</p>
           <p><ion-icon name="time"></ion-icon> {{ data | date: 'H:mm' }}</p>
        </ion-avatar>
        <h1> {{ cal.titulo }}</h1>
        <h3><ion-icon name="paper"></ion-icon> Detalhes: {{ cal.descricao }}</h3>
        <p><ion-icon name="pin"></ion-icon> Local: {{ cal.localizacao }}</p>

        <button ion-button icon-start (click)="addEvent()">
            <ion-icon name="calendar"></ion-icon>
            Adicionar ao calendário
        </button>
      </ion-item>

        <ion-list-header>
            <h2><ion-icon name="calendar"></ion-icon> Janeiro</h2>
        </ion-list-header>
        <ion-item *ngFor="let cal of janeiro" tappable>
          <ion-avatar item-start>
            <!--<h1><ion-icon name="calendar"></ion-icon> {{ data | date: 'dd/M/y' }}</h1>-->
             <h1>{{ data | date: 'dd/M' }}</h1>
             <p>{{ data | date: 'EEEE' }}</p>
             <p><ion-icon name="time"></ion-icon> {{ data | date: 'H:mm' }}</p>
          </ion-avatar>
          <h1> {{ cal.titulo }}</h1>
          <h3><ion-icon name="paper"></ion-icon> Detalhes: {{ cal.descricao }}</h3>
          <p><ion-icon name="pin"></ion-icon> Local: {{ cal.localizacao }}</p>
  
          <button ion-button icon-start (click)="addEvent()">
              <ion-icon name="calendar"></ion-icon>
              Adicionar ao calendário
          </button>

      </ion-item>
      
  </ion-list>
</ion-content>